<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uplus.eureka.domain.participant.repository.ParticipantMapper">

    <!-- 참여 등록 -->
    <insert id="insertParticipant" parameterType="com.uplus.eureka.domain.participant.Participant">
        INSERT INTO participant (user_id, vote_id, created_at)
        VALUES (#{userId}, #{voteId}, #{createdAt})
    </insert>

    <!-- 한 투표글에 중복 참여 확인 -->
    <select id="existsByUserIdAndVoteId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM participant WHERE user_id = #{userId} AND vote_id = #{voteId}
        )
    </select>

</mapper>
