<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uplus.eureka.domain.vote.repository.VoteMapper">

    <!-- 투표 조회 -->
    <select id="getVoteById" resultType="com.uplus.eureka.domain.vote.Vote">
        SELECT * FROM vote WHERE vote_id = #{voteId}
    </select>

    <!-- 참여자 수 증가 -->
    <update id="incrementParticipants">
        UPDATE vote SET participants = participants + 1 WHERE vote_id = #{voteId}
    </update>
    
    <!-- 투표 생성 -->
	 <insert id="insertVote" parameterType="map">
    INSERT INTO vote (creator_id, title, description, deadline, meeting_start_time, meeting_end_time, recruit)
    VALUES (#{creatorId}, #{voteRequest.title}, #{voteRequest.description}, #{voteRequest.deadline}, 
            #{voteRequest.meetingStartTime}, #{voteRequest.meetingEndTime}, #{voteRequest.recruit});
  </insert>

     <!-- 참여자 수 감소 -->
    <update id="decrementParticipant">
        UPDATE vote SET participants = participants - 1 WHERE vote_id = #{voteId}
    </update>
  
</mapper>
